<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>med/paciente/consulta</title>
    <link rel="stylesheet" href="../stylesheets/estructura.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body class="zo">
    
    <main>


        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
              <h5 class="text-white h4">FARMACIA LAXTEC</h5>
              <li>
                        <ul>
                                    <header>
                                                <div>
                                                  <a  class="btn btn-primary" href="./med">MENU</a>
                                                    <a class="btn btn-secondary" href="./interno">GERENTE</a>
                                                    <a class="btn btn-success" href="./compra">COMPRA</a>
                                                    </div>
                                                 </header>
                        </ul>
              </li>
             
            </div>
          </div>
          <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
          </nav> 
       <div>
        <h1 class="titulo">PRODUCTOS EN VENTA</h1>
       </div>
    </main>
       <DIV>
        <p>broxol: 54.00bs</p>
        
        <div class="text-center">
  <img src="../images/broxol.png" class="rounded" alt="...">
</div>

        <button><a href="./compra">compra</a></button>

       </DIV>
       <DIV>
        <p>vitafer: 15.00bs</p>
        
        <div class="text-center">
  <img src="../images/vitafer.jpeg" class="rounded" alt="...">
</div>

        <button><a href="./compra">compra</a></button>

       </DIV>
       <DIV>
        <p>desloratadina: 23.00bs</p>
        
        <div class="text-center">
  <img src="../images/DESLORATADINA.jpg" class="rounded" alt="...">
</div>

        <button><a href="./compra">compra</a></button>

       </DIV><DIV>
        <p>vitamina C: 28.00bs</p>
        
        <div class="text-center">
  <img src="../images/vitamina.jpg" class="rounded" alt="...">
</div>

        <button><a href="./compra">compra</a></button>

       </DIV><DIV>
        <p>loratadina: 27.00bs</p>
        
        <div class="text-center">
  <img src="../images/loratidina.jpeg" class="rounded" alt="...">
</div>

        <button><a href="./compra">compra</a></button>

       </DIV>
       <DIV>
        <p>cetrizina: 26.00bs</p>
        
        <div class="text-center">
  <img src="../images/unnamed.jpg" class="rounded" alt="...">
</div>

        <button><a href="./compra">compra</a></button>

       </DIV><DIV>
        <p>ambroxol: 40.00bs</p>
        
        <div class="text-center">
  <img src="../images/ambroxol.jpg" class="rounded" alt="...">
</div>

        <button><a href="./compra">compra</a></button>

       </DIV><DIV>
        <p>diclofenac: 30.00bs</p>
        
        <div class="text-center">
  <img src="../images/diclofenac.jpg" class="rounded" alt="...">
</div>

        <button><a href="./compra">compra</a></button>

       </DIV><DIV>
        <p>colgate: 55.00bs</p>
        
        <div class="text-center">
  <img src="../images/colgate.jpg" class="rounded" alt="...">
</div>

        <button><a href="./compra">compra</a></button>

       </DIV><DIV>
        <p>desodorante rexona: 48.00bs</p>
        
        <div class="text-center">
  <img src="../images/rexona.jpg" class="rounded" alt="...">
</div>

        <button><a href="./compra">compra</a></button>

       </DIV><DIV>
        <p>gasas: 33.00bs</p>
        
        <div class="text-center">
  <img src="../images/gasas.webp" class="rounded" alt="...">
</div>

        <button><a href="./compra">compra</a></button>

       </DIV><DIV>
        <p> condones durex: 43.00bs</p>
        
        <div class="text-center">
  <img src="../images/durex.jpg" class="rounded" alt="...">
</div>

        <button><a href="./compra">compra</a></button>

       </DIV><DIV>
        <p>glup 2lt: 55.00bs</p>
        
        <div class="text-center">
  <img src="../images/glup.jpg" class="rounded" alt="...">
</div>

        <button><a href="./compra">compra</a></button>

       </DIV>
       
       
       
       
       <h1 class="titulo">productos mas vendidos</h1>
       
       
       
       
       
       <DIV>
        <p>paracetamol: 40.00bs</p>
        
        <div class="text-center">
  <img src="..." class="rounded" alt="...">
</div>

        <button><a href="./compra">compra</a></button>

       </DIV><DIV>
        <p>paracetamol: 40.00bs</p>
        
        <div class="text-center">
  <img src="..." class="rounded" alt="...">
</div>

        <button><a href="./compra">compra</a></button>

       </DIV><DIV>
        <p>paracetamol: 40.00bs</p>
        
        <div class="text-center">
  <img src="..." class="rounded" alt="...">
</div>

        <button><a href="./compra">compra</a></button>

       </DIV><DIV>
        <p>paracetamol: 40.00bs</p>
        
        <div class="text-center">
  <img src="..." class="rounded" alt="...">
</div>

        <button><a href="./compra">compra</a></button>

       </DIV><DIV>
        <p>paracetamol: 40.00bs</p>
        
        <div class="text-center">
  <img src="..." class="rounded" alt="...">
</div>

        <button><a href="./compra">compra</a></button>

       </DIV><DIV>
        <p>paracetamol: 40.00bs</p>
        
        <div class="text-center">
  <img src="..." class="rounded" alt="...">
</div>

        <button><a href="./compra">compra</a></button>

       </DIV>
       
       
       
       <h1 class="titulo">categorias</h1>
       
       
       <DIV>
        <p>paracetamol: 40.00bs</p>
        
        <div class="text-center">
  <img src="..." class="rounded" alt="...">
</div>

        <button><a href="./compra">compra</a></button>

       </DIV><DIV>
        <p>paracetamol: 40.00bs</p>
        
        <div class="text-center">
  <img src="..." class="rounded" alt="...">
</div>

        <button><a href="./compra">compra</a></button>

       </DIV><DIV>
        <p>paracetamol: 40.00bs</p>
        
        <div class="text-center">
  <img src="..." class="rounded" alt="...">
</div>

        <button><a href="./compra">compra</a></button>

       </DIV><DIV>
        <p>paracetamol: 40.00bs</p>
        
        <div class="text-center">
  <img src="..." class="rounded" alt="...">
</div>

        <button><a href="./compra">compra</a></button>

       </DIV><DIV>
        <p>paracetamol: 40.00bs</p>
        
        <div class="text-center">
  <img src="..." class="rounded" alt="...">
</div>

        <button><a href="./compra">compra</a></button>

       </DIV>

       <div>
        <ul>
        <li><h6>-cuidemos la informacion y nuestra salud </h6></li>
        <li><h6>-contactos reservados y privados </h6></li>
        <li><h6>-insumos para la salud de calidad y precio accesible</h6></li>
    </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>