<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>farmacia/LAXTEC</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
 
    <main>
   
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <h5 class="text-white h4">FARMACIA LAXTEC</h5>
          <li>
                    <ul>
                                <header>
                                            <div>
                                              <a  class="btn btn-primary" href="">PRODUCTOS</a>
                                                <a class="btn btn-secondary" href="">GERENTE</a>
                                                <a class="btn btn-success" href="">COMPRA</a>
                                                </div>
                                             </header>
                    </ul>
          </li>
         
        </div>
      </div>
      <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav> 
      <div class="d-grid gap-2 col-6 mx-auto">
       <h1>FARMACIA LAXTEC</h1>  
    <div>
        <ul>
        <h5>Contamos con un extenso control de nuestra informacion de nuestros clientes eh empleados,</h5>
        <h5>el registro de su usuario le permitira poder comprar nuestros insumos o medicamentos</h5>
    </ul> 
</main>
<div class="d-grid gap-2 col-6 mx-auto" >
    <h4>En nuestro sistema guardamos su informacion de forma segura.</h4>
</div>
<div class="d-grid gap-2 col-6 mx-auto" >
        <ul>
        <li><p>Nuestros espacialistas revisaran su informacion.</p></li>
        <li><p>Su informacion solo quedara visible solo para nuestros especialistas.</p></li>
        <li><p>Una vez ingresada su informacion solo podra ser modificada por nuestros especialistas.</p></li>
        <li><p>Porfavor ingrsesar de forma correcta y adecuada su informacion.</p></li>
    </ul>
</div>

<div class="d-grid gap-2 col-6 mx-auto">
    <ul>
    <li><h6>cuidemos la informacion y nuestra salud </h6></li>
    <li><h6>contactos reservados y privados </h6></li>
    <li><h6>insumos para la salud de calidad y precio accesible</h6></li>
</ul>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>